*{
  margin: 0;
  padding: 0;
}

body{
  line-height: 1;
}
ul, ol, dl{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
  text-decoration: none;
}
p{
  line-height: 24px;
}

.inner{
  max-width: 1400px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cf::after{
    content: '';
    display: block;
    clear: both;
}

.title{
  font-size: 48px;
  margin-bottom: 60px;
}
.sub_title{
  color: #1a1a1a;
  font-size: 24px;
  margin-bottom: 29px;
  position: relative;
}
.sub_title::after{
  content: '';
  width: 65%;
  height: 1px;
  background: #7b7b7b;
  position: absolute;
  top: 12px;
  right: 100px;
}

.btn_style{
  display: inline-block;
  width: max-content;
  color: #fff;
  background-color: #41369c;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 10px 48px 10px 30px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in-out;
}
.btn_style::before{
  content: '';
  width: 18px;
  height: 5px;
  background: url(https://res.cloudinary.com/djcuwf7il/image/upload/q_auto/portfolio/btn_arrow_leipqc.png) no-repeat 0px 0px;
  position: absolute;
  top: 14px;
  right: 22px;
  transition: margin-right .5s ease-in-out;
}
.btn_style:hover{
  background-color: transparent;
  border-color: #41369c;
}
.btn_style:hover::before{
  background-position: 0px -5px;
  margin-right: -4px;
}
.btn_style:hover span{
  color: #41369c;
}
.btn_style:hover::after{
  width: 150%;
  left: -5%;
}