.header{
    font-family: 'Gmarketsans';
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header .logo{
    margin: 16px 0;
}
.header ul{
    display: flex;
}
.header ul li{
    padding: 0 30px;
}
.header a{
    color: #1a1a1a;
    transition: color .3s;
}
.header a:hover{
    color: #33cccc;
}
.header ul li.active a{
    color: #33cccc;
}
.container>div {
    width: 100%;
    height: 100vh;
    font-size: 40px;
    line-height: 100vh;
}
#project{
    line-height: normal;
    padding: 150px 0;
}
.project_img{
    position: relative;
    margin-left: 30px;
    transform: translateX(-120%);
    opacity: 0;
    transition: transform 1.5s, opacity 2.5s;
}
.project_img.show{
    transform: translateX(0);
    opacity: 1;
}
.pc_mockup{
    width: 600px;
    height: 600px;
    position: relative;
}
.pc_mockup img{
    width: 100%;
}
.pc_mockup a{
    display: block;
    width: 421px;
    height: 263px;
    overflow: hidden;
    position: absolute;
    top: 84px;
    left: 94px;
}
.pc_mockup a img{
    position: relative;
}
.mobile_mockup{
    width: 300px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 180px;
    right: -72px;
}
.mobile_mockup .mobile{
    width: auto;
    height: 100%;
    position: relative;
    z-index: 10;
    pointer-events: none;
}
.mobile_mockup a{
    display: block;
    width: 111px;
    height: 242px;
    overflow: hidden;
    position: absolute;
    top: 29px;
    left: 96px;
    z-index: 8;
}
.mobile_mockup a img{
    width: 100%;
    position: relative;
}

.title{
    margin-bottom: 56px;
}
.project_info{
    width: 40%;
    color: #1a1a1a;
    font-size: 16px;
    margin: 100px 20px 0 0;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.5s;
    position: relative;
}
.project_info.show{
    transform: translateY(0);
    opacity: 1;
}
.project_info h2{
    color: #41369c;
    font-size: 24px;
}
.project_info p{
    width: 80%;
    line-height: 24px;
    margin-bottom: 28px;
}
.date_wrap{
    margin-right: 50px;
}
.production_date{
    margin-right: 20px;
}
.use_lang{
    color: #41369c;
    margin: 0;
    padding: 0;
}
.use_lang li{
    padding-right: 20px;
    position: relative;
}
.use_lang li::after{
    content: '';
    width: 1px;
    height: 100%;
    background: #9d9d9d;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
}
.use_lang li:last-child::after{
    display: none;
}
.production_type{
    color: #41369c;
    margin-right: 30px;
}
.project_link{
    position: absolute;
    top: 19px;
    right: 236px;
}